* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: white;
	display: flex;
	vertical-align: middle;
	padding: 10px 20px 10px 20px;
	border: 2px solid #000;
	border-left: none;
	border-right: none;
}

nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

nav ul li.logo {
	color: #0762bc;
	flex: 1;
	font-size: 30px;
	font-weight: 700;
}

.logo span {
	color: #d44400;
	font-weight: 700;
}

nav ul div.items {
	padding: 0px 5px;
	display: inline-flex;
	font-weight: 200;
}

nav ul div.items a {
	text-decoration: none;
	color: #0762bc;
	font-size: 24px;
	font-weight: 600;
	padding: 0px 12px;
}

nav ul div.items a:hover {
	color: #d44400;
}

nav ul .search-icon {
	height: 40px;
	width: 240px;
	display: flex;
	background: #d44400;
	border-radius: 5px;
}

nav ul .search-icon input {
	height: 100%;
	width: 200px;
	border: none;
	outline: none;
	padding: 0px 10px;
	color: #000;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
	height: 100%;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
}

nav ul .search-icon .icon:hover {
	background: #000;
}

nav ul .search-icon .icon span {
	color: #222222;
	font-size: 18px;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 1.2), rgba(0, 0, 0, 0)),
		url(../images/background_1_CNC_Machines_In_Manufacturing.jpg),
		url(../images/background_2_CNC_Machines_In_Manufacturing.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	color: #ffffff;
	margin: 0;
	margin: 0;
}

.local-buttons {
	padding: 20px 0px 20px 20px;
	display: inline-flex;
}

.local-buttons input {
	font-size: 18px;
}

section {
	height: 83vh;
	border: 1px solid black;
	display: block;
	text-align: left;
	padding: 0px;
}

section h2 {
	font-size: 1.7em;
	text-align: justify;
}

section h3 {
	text-align: justify;
	text-indent: 40px;
	font-size: 1.2em;
}

section a {
	text-align: right;
	font-size: 1.8em;
}

div.scrolling {
	padding: 5px 0px 20px 20px;
	height: 750px; /* высота нашего блока */
	width: 900px; /* ширина нашего блока */
	background: #fff; /* цвет фона, белый */
	border: 1px solid #C1C1C1; /* размер и цвет границы блока */
	overflow-x: scroll; /* прокрутка по горизонтали */
	overflow-y: scroll; /* прокрутка по вертикали */
	white-space: pre-line;
	color: black;
	font-weight: bold;
}

main {
	display: flex;
}

div.programInput {
	width: 50%;
	padding: 20px 0px 0px 30px;
}

div.listUsers {
	width: 50%;
}

.programTable {
	width: 100%; /* РЁРёСЂРёРЅР° С‚Р°Р±Р»РёС†С‹ */
	table-layout: auto;
}

.programTable td {
	text-align: center;
	vertical-align: middle;
}

.programTable th {
	text-align: center;
	vertical-align: middle;
}

.footer {
	background-color: #eeeeee;
	position: absolute;
	width: 100%;
	height: 40px;
}

div.footer p {
	color: #d44400;
	text-align: right;
	vertical-align: middle;
	font-size: 1.2em;
	padding: 10px 30px 0px 0px;
}